<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/sheet1.css" rel="stylesheet" type="text/css" media="all" />
		<title>Marvel graphs</title>
		<center>
		<img class="logo" src="static/logo.png" alt="Choix Personnages" width="500" height="150"/>
	</center>
	</head>
	<body>
		<center>
		</br>
		<img src="../static/choice.gif" alt="" width="150" height="150"/>
			<h1> Choissisez votre héro ? </h1>
			<a href="/accueil_2/visu?heros=thanos"><img src="static/thanos.png" alt="Choix Personnages" width="200" height="200"/></a>
			<a href="/accueil_2/visu?heros=magneto"><img src="static/magneto.png" alt="Choix Personnages" width="200" height="200"/></a>
			<a href="/accueil_2/visu?heros=silversurfer"><img src="static/silversurfer.png" alt="Choix Personnages" width="200" height="200"/></a>
		</center>
  </body>
<footer>
	<p class="pied">
	<a href="/">Retour vers le menu</a>
	</p>
</footer>
</html>
