<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../../static/css/sheet1.css" rel="stylesheet" type="text/css" media="all" />
		<title>Mon graphe</title>
		<center>
		<img class="logo" src="../../static/logo.png" alt="Choix Personnages" width="500" height="150"/>
	</center>
	</head>
	<body>
		<center>
		<br>
		<h2>Tf appliqué sur un document<br></h2>
		<a href="/accueil_2/visu/affiche/affiche_2?type=1">
		<img src="../../static/global.png" alt="Choix du Wordcloud" width="200" height="200"/>
		</a>
		<br>
		<h2>Tf appliqué sur plusieurs documents<br></h2>
		<a href="/accueil_2/visu/affiche/affiche_2?type=0">
		<img src="../../static/comic.png" alt="Choix du Wordcloud" width="200" height="200"/></a>
		<br>
	</center>
  </body>
	<footer>
	<p class="pied">
	<a href="/">Retour vers le menu</a>
	<a href="/accueil_2">Retour vers l'accueil</a>
	<a href="/accueil_2/visu?{{hero}}">Choix visualisation</a>
	</p>
	</footer>
</html>
