<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="static/css/sheet1.css" rel="stylesheet" type="text/css" media="all" />
        <title>Marvel</title>
    </head>

    <body>
      <center>
      <img class="logo" src="static/logo.png" alt="Choix Personnages" width="600" height="200"/>
      <p> Welcome in the Marvel world !</p>
      <h2>Presentation  </h2><a href="/description">
        <img src="static/presentation.png" alt="Choix Personnages" width="200" height="200"/></a>
      <h2>Monde Marvel  </h2><a href="/accueil_2">
        <img src="static/mondemarvel.png" alt="Choix Personnages" width="200" height="200"/></a>
      </center>
    </body>



</html>
